.mobile {
    #center {
        margin: 5%;
        h1 {
            font-size: 27px;
            text-align: center;
            margin:0;
        }
        .signOut {
            color: #e23d3d;
        }
    }
}