.list {
    padding: 0 400px;
}

@media (max-width: 1900px) {
    .list {
        padding: 0 340px;
    }
}

@media (max-width: 1700px) {
    .list {
        padding: 0 290px;
    }
}

@media (max-width: 1600px) {
    .list {
        padding: 0 230px;
    }
}

@media (max-width: 1500px) {
    .list {
        padding: 0 160px;
    }
}

@media (max-width: 1100px) {
    .list {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    .list {
        padding: 0 50px;
    }
}

@media (max-width: 650px) {
    .list {
        padding: 0 5px;
    }
}