* {
    text-decoration: none;
    list-style-type: none;
}

.desktop {
    .q-toolbar {
        padding: 5px 20px;
    }
    
    .ul-align-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        margin: auto;
        padding: 0 20px;
    }
}

.mobile {}
