* {
    text-decoration: none;
    list-style-type: none;
}

.desktop {
    .q-toolbar-title {
        padding-left: 7%;
    }
    
    .ul-align-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .searcher {
        margin-left: 3%;
        width: 39%;
    }

    .menu {
        margin: auto;
        padding: 0 20px;
    }

    .q-tab {
        margin-left: 305px;
    }
}

.mobile {
    .q-footer {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
