* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.desktop {
   .q-layout {
    background-image: url("../../../public/img/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
}

.mobile {
}
