* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.desktop {
    .q-page {
        #center {
            margin: 0 auto;
            width: 40%;
        }
    }
}