.q-card {
    width: 230px;
    border-radius: 20px;
    border: 2px solid rgb(236, 236, 236);
    word-wrap: break-word;
    height: 300px;
}

.text-h6 {
    font-size: 12pt;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.q-card-img {
    height: 120px;
    margin: auto;
}

.text-subtitle2 {
    color: gray;
}

.card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.product-price {
    font-size: 15pt;
}

.add-product {
    border-radius: 13px;
    width: 36px;
    height: 35px;
    margin: 0 8px;
}

.add-to-cart-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.counter {
    width: 15px;
    text-align: center;
}

.product-info-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.mobile {
    .q-card-img {
        height: 80px;
    }

    .product-info {
        padding: 15px 7px;
    }

    .text-subtitle2 {
        padding: 5px 0;
    }

    .q-card {
        height: 230px;
        width: 155px;
    }

    .text-h6 {
        font-size: 10pt;
    }

    .text-subtitle2 {
        font-size: 9pt;
    }

    .product-price {
        font-size: 12pt;
    }

    .add-product {
        width: 36px;
        height: 35px;
        margin: 0 5px;
    }

    .card-footer {
        padding: 6px;
    }
}