.desktop {
    #center {
        width: 50%;
        margin: auto;
        h1 {
            font-size: 300%;
            text-align: center;
        }

        form {
            button {
                width: 50%;
                margin: 30px 25%;
            }
        }
        
    }
}

.mobile {
    #center {
        margin: 6% 12%;
        h1 {
            margin: 0;
            font-size: 30px;
        }
        button {
            margin-left: 25%;
        }
    }
}