.wrapper {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

h3 {
    font-size: 25pt;
}

p {
    text-align: center;
    margin-top: 20px;
    span {
        font-weight: bold;
        color: $primary;
    }
}

.clickable {
    cursor: pointer;
}

.title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cart-icon {
    margin-right: 20px;
    font-size: 40pt;
}

.deleteIcon {
    font-size: 15pt;
}

.product-price {
    font-size: 13pt;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 90%;
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .title-wrapper {
        justify-content: center;
    }
}