.base-image-input {
    border-radius: 50%;
  }
  
  .base-image-input div{
    margin: auto;
      border-radius: 50%;
  }
  
  .content {
      border-radius: 50%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    transition: 0.2s #53B175 ease-out;
  }
  .content:hover {
    background-color: #E9E9E9
  }
  .file-input {
    display: none;
  }
  
  .placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
  
  .content.has-image {
    position: relative;
  }
  
  .content.has-image:after {
      border-radius: 50%;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.2s #53B175 ease-out;
  }
  
  .content.has-image:hover:after {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .content.has-image .placeholder {
    color: rgba(255, 255, 255, 0.5);
    z-index: 2;
  }
  
  .placeholder-text {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .placeholder-icon {
    font-size: 40px;
  }
  
  .base-image-cropper {
    width: 100%;
    height: 100%;
  }