.desktop {
    #center {
        width: 50%;
        margin: auto;
        h1 {
            font-size: 310%;
            text-align: center;
        }

        div {
            span {
                color: #6aba87;
                font-weight: bold;
            }
        } 
        
    }
}

.mobile {

}   