.desktop {
    #center {
        width: 50%;
        margin: auto;
        h1 {
            font-size: 310%;
            text-align: center;
        }
    }
}


.mobile {
    #center {
       
    }
}