.desktop {
    
    .wrapper {
        // display: flex;
        // flex-flow: row nowrap;
        // justify-content: center;
        // align-items: center;
        // background-color: red;
    }
    

    .page {
    }

    .q-tab {
        margin-left: -10px;
        @media screen and (max-width: 1850px) {
            width: 130px;
        }
        @media screen and (max-width: 1750px) {
            width: 120px;
        }
        @media screen and (max-width: 1650px) {
            width: 110px;
        }
    }
}

.mobile {
   
}