* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.desktop {
    .q-page {
        #center {
            #form-container{
                background-color: white;
                border-radius: 10px;
                margin: 200px  200px auto 60% ;
                width: 470px;
                padding: 45px;
                -webkit-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
                -moz-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
                box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);

                button {
                    width: 100%;
                    margin: 5px;
                    div {
                        width: 140px;
                    }
                    img {
                        width: 25px;
                        margin: 0 20px;
                        border-radius: 50%;
                    }
                }
            
                form {
                    margin:20px 0;
                    button {
                        margin-top: 15px;
                    }
                }
                
                @media screen and (max-width: 1300px){
                    margin: 200px  200px auto 45% ;
                }
                @media screen and (max-width: 950px){
                    margin: 200px  200px auto 35% ;
                }
                @media screen and (max-width: 790px){
                    margin: 200px auto;
                }
            }
        }
    }
}

#center {
    width: 100%;
    text-align: center;
    #form-container {
        #googleButton {
            background-color: white;
        }
    
        button {
            width: 90%;
            margin: 5px;
            div {
                width: 140px;
            }
            img {
                width: 25px;
                margin: 0 20px;
                border-radius: 50%;
            }
        }

        form {
            button {
                width: 100%;
                margin: 15px 0;
            }
        }

        span {
            color: #6aba87;
            font-weight: bold;
        }
    }
}

.mobile {
    #center {
        background-image: url("../../../../public/img/backgroundimg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        #form-container {
            padding: 60px 22px 60px 15px;
            background-color: rgba(255, 255, 255, 0.94);
            width: 100%;
            height: 100vh;
            form {
                margin: auto 20px;
            }
        }
    }
}