* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.desktop {
    .q-page {
        #center {
            width: 100%;
            #form-container{
                margin: 200px  200px auto 60% ;
                width: 470px;
                padding: 45px;
                -webkit-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
                -moz-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
                box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
            }
        }
    }
}

#form-container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 7px 22px -8px rgba(0, 0, 0, 0.73);
    button {
        width: 100%;
        margin: 5px;
        div {
            width: 140px;
        }
        img {
            width: 25px;
            margin: 0 20px;
            border-radius: 50%;
        }
    }

    form {
        margin:20px 0;
        button {
            margin-top: 15px;
        }
    }

    span {
        color: #6aba87;
        font-weight: bold;
    }
}

.mobile {
    #center {
        background-image: url("../../../../public/img/backgroundimg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        #form-container {
            margin: 20% auto;
            width: 80%;
            padding: 20px 18px 20px 10px;
            text-align: center;
        }
    }
}